.titulo {
    text-align: center;
    font-size: 120px;
    height: 200px;
    color: transparent; 
    -webkit-text-fill-color: transparent; 
    padding: 20px;
    background-image: url('imagenes/fondoTitulo.jpg');
    background-size: cover;
    background-position: center center;
    -webkit-text-stroke-width: 2px; 
    -webkit-text-stroke-color: white; 
    text-shadow: 2px 2px

}


.subTitulo {
    color: rgb(107, 116, 164);
    font-size: 60px;
    text-align: left;
    text-decoration: underline; 
}


.sonidoAmbiente {
    color: rgb(25, 37, 103);
    font-size: 20px;
    text-align: left; 
}


.textoVario {
    color: rgb(25, 37, 103);
    font-size: 20px;
    text-align: left; 
}


.lista {
    color: rgb(6, 13, 55);
    font-size: 20px;
    text-align: left; 
}

.parrafo {
    font-size: 16px;
    color: #333; 
    line-height: 1.5;
    margin-bottom: 20px; 
    text-align: justify;
    padding: 10px; 
    background-color: #f0f0f0; 
    border: 1px solid #ccc;
}


.miTabla {
    width: 60%; 
    border-collapse: collapse;
}
.miTabla th, .miTabla td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
}

.miTabla th {
    background-color: #f0f0f0;
}

.miTabla tr:nth-child(even) {
    background-color: #f2f2f2;
}

.miTabla tr:hover {
    background-color: #ddd;
}



.miTablaImagen {
    width: 100%;
    border-collapse: collapse;
}

.miTablaImagen td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: center;
    border-radius: 10px; 
}

.miTablaImagen img {
    max-width: 100%;
    border-radius: 10px; 
}


nav {
    background-color: #f0f0f0;
    padding: 10px;
}
nav ul {
    list-style-type: none;
    padding: 0;
}
nav li {
    display: inline;
    margin-right: 10px;
}
nav a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

footer {
    background-color: rgb(107, 116, 164);
    padding: 20px;
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-between;
    align-items: center;
}

.footer-content {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.footer-left img {
    max-width: 50px;
}

.footer-center {
    display: flex;
    align-items: center;
}

.footer-center img {
    width: 30px;
    height: 30px;
    margin: 0 10px;
}
.footer-center img {
    width: 90px; 
    height: 90px; 
    margin: 0 15px; 
}

.footer-right p {
    color: white;
    text-align: right;
    max-width: 300px; 
}


footer img {
    width: 30px; 
    height: 30px;
    margin: 0 10px; 
}

footer a {
    color: white;
}

footer p {
    color: white;
}


.whatsapp-icon {
    width: 30px;
    height: 30px;
    vertical-align: middle;
}


header {
    display: flex;
    flex-wrap: wrap; 
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px; 
    background-color: #f0f0f0; 
}

.logo img {
    max-height: 150px; 
    max-width: 150px;
}

.title {
    flex-grow: 1;
    text-align: center;
    margin: 0 20px; 
}

.social-icons {
    display: flex;
}
  
header img {
    width: 180px; 
    height: 180px;
    margin: 0 10px; 
}
